<h1><font color="#F2F5A9">Listing genres</font></h1>


<%= form_tag genres_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table>
  <thead>
    <tr>
      <th><font color="#0080FF"> Id genre </font></th>
      <th><font color="#0080FF"> Name</font></th>
      <th><font color="#0080FF"> Description</font></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.id_genre %></td>
        <td><%= genre.name %></td>
        <td><%= genre.description %></td>
        <td><%= link_to 'Show', genre %></td>
        <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
        <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genre', new_genre_path, class: "button success" %>

