<p id="notice"><%= notice %></p>

<p>
  <strong>Id genre:</strong>
  <%= @genre.id_genre %>
</p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
