<%= form_for(@moviee) do |f| %>
  <% if @moviee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moviee.errors.count, "error") %> prohibited this moviee from being saved:</h2>

      <ul>
      <% @moviee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :genre_id , title: "แนวหนัง", data: {tooltip: true} %><br>
    <%= f.collection_select :genre_id, Genre.all,

          :id, :name, { prompt: true, length: 25 },

          { style: "width: 150px;" } %>
  </div>
  <div class="field">
    <%= f.label :name , title: "ชื่อหนัง", data: {tooltip: true} %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author , title: "ผู้แต่ง", data: {tooltip: true} %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :country , title: "ประเทศ", data: {tooltip: true} %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :publish , title: "ออกอากาศ", data: {tooltip: true} %><br>
    <%= f.text_field :publish %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
