<h1><font color="white">Listing Moviees</font></h1>

<%= form_tag moviees_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th style="color:#000;">Genre</th>
      <th>Name</th>
      <th>Author</th>
      <th>Country</th>
      <th>Publish</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


  <tbody>
    <% @moviees.each do |moviee| %>
      <tr>
        <td><%= moviee.genre.name %></td>
        <td><%= moviee.name %></td>
        <td><%= moviee.author %></td>
        <td><%= moviee.country %></td>
        <td><%= moviee.publish %></td>
        <td><%= link_to 'Show', moviee %></td>
        <td><%= link_to 'Edit', edit_moviee_path(moviee) %></td>
        <td><%= link_to 'Destroy', moviee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>


<%= link_to 'New Moviee', new_moviee_path %>
