<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @moviee.genre_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @moviee.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @moviee.author %>
</p>

<p>
  <strong>Country:</strong>
  <%= @moviee.country %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @moviee.publish %>
</p>

<%= link_to 'Edit', edit_moviee_path(@moviee) %> |
<%= link_to 'Back', moviees_path %>
