
<br><br>
<h2><marquee direction=right>MOVIE</marquee><h2>

<ul data-orbit>
  <li>
    <%= image_tag('avatar.jpg')  %>
    <div class="orbit-caption" >...</div>
  </li>
  <li>
    <%= image_tag('harry.jpg') %>
    <div class="orbit-caption" >...</div>
  </li>
  <li>
    <%= image_tag('Iron2.jpg') %>
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <%= image_tag('resdenti.jpg') %>
    <div class="orbit-caption">...</div>
  </li>
</ul>

  <!-- Prev/Next Arrows -->
  <a href="#" class="orbit-prev"> <span></span></a>
  <a href="#" class="orbit-next"> <span></span></a>

  <!-- Slide Numbers -->
  <div class="orbit-slide-number">
    <span></span><span></span>
  </div>

  <!-- Timer and Play/Pause Button -->
  <div class="orbit-timer">
    <span></span>
    <div class="orbit-progress" style="width: 100%; -webkit-transition: width 5s linear;"></div>
  </div>
</div>

<!-- Orbit Bullet Slide Indicator -->
<ol class="orbit-bullets">
  <li data-orbit-slide-number="1"></li>
  <li data-orbit-slide-number="2" class="active"></li>
  <li data-orbit-slide-number="3"></li>
</ol>

</div>
</div>


    



