<h1><font color="#fff">About Me</font></h1>

<li>
    <%= image_tag('IMG_5833.jpg')  %>
  </li>

<br>
  <p><font color="#faa">ญาดา มณีจักรชนะกุล</font></p>
<p><font color="#fcf">5310450483</font></p>


 