<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" ,data: { "no_turbolink" => true } %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Movie Home", ".." ,data: { "no_turbolink" => true}%></a></h1>
    </li>
  </ul>


  <section class="top-bar-section">
  
    <ul class="right">

      <li class="divider"></li>
      <li><%= link_to "Browse Movie", moviees_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Category", genres_path %></li>
      <li class="divider"></li>
      <li><a href="about/index">About</a></li>
      
    </ul>

  </div>
</nav>

<div class="row">
  <div class="small-10 columns"><%= yield %></div>
  
</div>
  </body>
</html>
